body {
  background-image: url("../img/pdx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron{
  padding: 4px;
  background-color: inherit;
  font-size: 24;
  color: white;

}

h1{
  text-align: center;
}

.links{
  text-align: auto;
  letter-spacing:: 4px;
  text-decoration: none;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color:white;
  text-decoration: none;
}

.col-md-12{
  padding: 0px;
  font-size: 16pt;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.center{
  text-align: center
}

.right{
  text-align: right
}

.aboutimg{
  float:left;
  height: 250px;
  width:300px;
  padding-left: 2px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ulh2{
  text-decoration: inherit;
  font-size: 18pt;
}

.boldital{
  font-style: italic;
  font-weight: bold;
}
